<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light text-white bg-black">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-white me-5 fs-3" routerLink=""><i class="fa-solid fa-cart-shopping fa-bounce me-1"></i>
            E-Kart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="col-4">
                <!-- search -->
                <input (keyup)="search($event)" type="text" class="form-control ms-5" placeholder="Search your product">
            </div>

            <div class="col-4"></div>

            <div class="col-4">
                <form class="d-flex align-items-center ms-5">
                    <!-- wishlist -->
                    <button class="btn btn-outline-light me-5" type="submit" routerLink="products/wishlist">
                        <i class="fa-solid fa-heart me-1 fa-beat text-danger"></i>
                        Wishlist
                    </button>
                    <!-- cart -->
                    <button class="btn btn-outline-light" type="submit" routerLink="products/cart">
                        <i class="fa-solid fa-cart-plus me-1 fa-beat text-success"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartItemsCount}}</span>
                    </button>
                </form>
            </div>

        </div>
    </div>
</nav>


